In [1]:
import pandas as pd
from MakeFrameNumeric import MakeFrameNumeric

In [2]:
# Create simple dataframe
data = {'id': ['A','B','C','D','E'],
        'state':['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada'],        
        'year':[2000,2001,2002,2001,2002],
       'pop':[1.5,1.7,3.6,2.4,2.9]}
frame = pd.DataFrame(data)

In [3]:
f = MakeFrameNumeric(frame)

In [4]:
f.ConvertForXGBoost()

   id_0  id_1  id_2  id_3  id_4  state_0  state_1  year  pop
0   1.0   0.0   0.0   0.0   0.0      0.0      1.0  2000  1.5
1   0.0   1.0   0.0   0.0   0.0      0.0      1.0  2001  1.7
2   0.0   0.0   1.0   0.0   0.0      0.0      1.0  2002  3.6
3   0.0   0.0   0.0   1.0   0.0      1.0      0.0  2001  2.4
4   0.0   0.0   0.0   0.0   1.0      1.0      0.0  2002  2.9

In [5]:
        data = {'id':   [1],
                'value':[3]}
                
        df = pd.DataFrame(data)
        print(str(type(df)))

<class 'pandas.core.frame.DataFrame'>

In [6]:
isinstance(df, pd.DataFrame)

True

In [7]:
        data = {'id':   [1],
                'value':[3]}
                
        df = pd.DataFrame(data)
        print(str(type(df)))
        f = MakeFrameNumeric(df)

<class 'pandas.core.frame.DataFrame'>